html, body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-9deg, #218be0, #3797e3) fixed 0% 0% transparent;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
}

h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-container {
  width: 422px;
  margin: 60px auto;
}

#controls {
  margin-top: 12px;
}

.board {
  width: 422px;
  height: 422px;
  padding: 15px;
  box-shadow: 0px 0px 5px #94c1ff;
  border: 1px solid #94c1ff;
  background: #fff;
  border-radius: 12px;
  border-collapse: collapse;
}

.board-cell {
  float: left;
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 15px 15px 0;
  background: #F6F6F6;
  cursor: pointer;
  border-radius: 6px;
}

.board-cell:nth-child(3n) {
  margin-right: 0;
}

.board-cell:before {
  position: absolute;
  width: 120px;
  height: 120px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 0px;
  line-height: 120px;
  content: ' ';
  color: #2b6897;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
}

.board-cell.x:before {
  content: 'X';
  font-size: 92px;
  color: #163f5e;
}

.board-cell.o:before {
  content: 'O';
  font-size: 92px;
  color: #2b6897;
}

.vs {
  margin: 0 5px;
}

/* Win, Draw */

.board.draw .board-cell,
.board.win .board-cell {
  cursor: default;
}

.board.draw .board-cell:before,
.board.win .board-cell:before {
  color: #cfcfcf !important;
}

/* Win */

.board.win .board-cell.hilite:before {
  color: #ff6f00 !important;
}


